@function convertRem($size){
    $rem: calc($size / 16) + rem;
    @return $rem;
}
@mixin article-style($color, $bordercolor:green, $fontsize: convertRem(16)){
    color: $color;
    border: convertRem(1) solid $bordercolor; 
    font-size: $fontsize;
    padding-bottom: convertRem(10);
    width: 100%;
    justify-self: center;
}
%text{
    color: green;
}
.contenitore{
    border: convertRem(1) solid red;
    margin-left: convertRem(15); 
    margin-right: convertRem(15);
    margin-top: convertRem(15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h1{
        @extend %text;
        border-bottom: convertRem(2) solid blue;
        padding-top: convertRem(25);
    }
    & h2{
        @extend %text;
        border: convertRem(1) solid red;
        padding: 1rem;
    }
    & section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    padding-bottom: convertRem(15);
    padding-left:convertRem(20);
    padding-right: convertRem(20);
        & article:nth-child(odd){
            @include article-style(blue);  
        }   
        & article:nth-child(even){
            @include article-style(red);
        }
    }
    & section:last-child{
        display: flex;
        justify-content: center;
        width: 100%;
        & article{
            @include article-style(green, blue, convertRem(24));
            margin: convertRem(0) convertRem(15);
            text-align: center;
            padding: convertRem(20) convertRem(0);
        }
    }
}

